.card-bg {
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
  }
  
  .card:hover .card-bg {
    transform: scale(1.1);
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
 
  .text-custom-size {
    font-size: 1rem; 
  }

  .toggle-checkbox {
    accent-color: #3b82f6; /* azul Tailwind */
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 18px; width: 18px;
    left: 3px; bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #3b82f6;
  }
  
  input:checked + .slider:before {
    transform: translateX(18px);
  }

  /* Esto evita que el overlay se oculte si el timer está activo */
.card:not(.active-timer) .overlay {
  opacity: 0;
}

.card:hover .overlay,
.card.active-timer .overlay {
  opacity: 1;
}

